{% extends 'site/generic.html' %}
{% load staticfiles %}

{% block content%}
<div style="background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('static/img/under-construction.jpeg'); background-size: cover;
    height: 100vh; margin: -8px;">
    <h1 style="margin: 0; padding-top: 5rem; text-align: center; color: orange;
    font-family: Handlee;">
        Ciao, non vedo l'ora di mostrarti il mio nuovo sito.
        <br>Torna presto a trovarmi!!!
    </h1>
</div>
{% endblock content%}